<div id="activate-account-wrapper">
    <% if (returnError == null) { %>
    <h1>Ditt konto har blivit aktiverat och du kan nu logga in som vanligt!</h1>
    <% } else { %>
    <h1><%= returnError %></h1>
    <% } %>
</div>