<div id="cookies-wrapper">
    <h1>KAKOR</h1>

    <h2>Kakor (”cookies”)</h2>
    <p>För att få den här webbplatsen att fungera ordentligt skickar vi ibland små filer till din dator. Dessa filer kallas kakor eller ”cookies”. De flesta större webbplatser gör på samma sätt.</p>

    <h2>Vad är kakor?</h2>
    <p>Kakorna är små textfiler som sparas på din dator, telefon eller surfplatta när du besöker webbplatsen. Kakorna hjälper webbplatsen att komma ihåg dina inställningar (t.ex. användarnamn, språk, textstorlek och andra förhandsval) under en viss tid. Tanken är att du inte ska behöva göra om inställningarna varje gång du går in på webbplatsen eller bläddrar mellan olika sidor.</p>
    <h2>Hur använder vi kakorna?</h2>


    <h3>På flera av våra sidor används kakor för att komma ihåg</h3>

    <ul>
        <li>om du har valt att bli ihågkommen när du loggar in.</li>
        <li>om du har accepterat att vi använder kakor på webbplatsen.</li>
        <li>om du är aktiv på hemsidan för tillfället.</li>
        <li>det du skrivit i en tråd utan att skicka in inlägget.</li>
    </ul>

    <h4>Vissa videoklipp på webbplatsen använder också kakor för att samla in anonym statistik om hur du hittade dit och vilka videoklipp du har sett.</h4>

    <h4>Kakorna är inte helt nödvändiga för att webbplatsen ska fungera, men de gör det lättare för dig att söka information. Du kan ta bort eller blockera kakorna, men i så fall får du vara beredd på att webbplatsen inte fungerar optimalt.</h4>

    <h4>Kakorna används inte för att identifiera dig som person och de insamlade uppgifterna står helt under vår kontroll. Kakorna används bara i de syften som nämns här.</h4>

    <h2>Hur du kan kontrollera kakorna</h2>
    <p>Du kan <span>kontrollera och radera</span> kakor precis som du vill. Läs mer på <a href="http://www.aboutcookies.org">aboutcookies.org</a>. Du kan ta bort alla kakor som finns på din dator och du kan ställa in webbläsaren så att den inte tar emot några kakor. I så fall måste du eventuellt göra om vissa inställningar varje gång du går in på en webbplats och vissa tjänster och funktioner kanske inte fungerar.</p>
</div>
