<div class="forgot-password-wrapper">
    <% if (returnError == null) { %>
    <div class="forgot-password-update-pre-wrapper">
        <h2>Byte utav lösenord för användare</h2>
        <h3><%= username %></h3>

        <input type="password" id="forgot-password-new" autocomplete="off" placeholder="NYTT LÖSENORD"/>
        <h6 id="forgot-password-update-error"></h6>

        <button id="forgot-password-update-submit">UPPDATERA</button>
    </div>
    <div class="forgot-password-update-after-wrapper">
        <h4>Lyckades!</h4>
        <h5>Du kan nu logga in på ditt konto med det nya lösenordet.</h5>
    </div>
    <% } else { %>
    <h1><%= returnError %></h1>
    <% } %>
</div>