.forgot-password-wrapper h1 {
  padding: 40px 10% 0 10%;
  color: #747474;
  font-weight: 300;
  font-size: 24px;
  margin: 0 auto;
  display: block;
  max-width: 90%;
  width: 600px;
}
.forgot-password-wrapper h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  padding: 0;
  margin: 0 0 20px 0;
  color: #747474;
}
.forgot-password-wrapper h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  color: #3498DB;
}
.forgot-password-wrapper h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: #27AE60;
  margin: 0 auto;
  display: block;
  max-width: 90%;
  width: 600px;
}
.forgot-password-wrapper h5 {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin: 0 auto;
  display: block;
  color: #747474;
  max-width: 90%;
  width: 600px;
}
.forgot-password-wrapper h6 {
  display: block;
  color: #E74C3C;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  margin: -15px 0 0 0;
  vertical-align: middle;
  text-align: center;
}
.forgot-password-wrapper .forgot-password-update-after-wrapper {
  display: none;
}
.forgot-password-wrapper input {
  display: block;
  width: 300px;
  max-width: 80%;
  padding: 5px;
  margin: 20px auto 40px auto;
  text-align: center;
  border: none;
  font-size: 18px;
  outline: none;
  letter-spacing: 1.5px;
  color: #999999;
  border-bottom: 1px solid #999999;
  transition: all 0.3s;
}
.forgot-password-wrapper input:focus {
  width: 400px;
  max-width: 80%;
  border-bottom: 1px solid #E74C3C;
}
.forgot-password-wrapper #forgot-password-update-submit {
  cursor: pointer;
  display: block;
  margin: 20px auto 0 auto;
  padding: 13px 20px;
  border: 1px solid #9B9B9B;
  color: #9B9B9B;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}
.forgot-password-wrapper #forgot-password-update-submit:hover {
  background: #333333;
  border: 1px solid #333333;
  color: #FEFEFE;
  border-radius: 30px;
}
