<div id="forgot-password-container">
    <h1>GLÖMT LÖSENORD</h1>
    <h2>Vänligen fyll i någon utav nedan alternativ.</h2>

    <h6 id="forgot-password-error"></h6>

    <input type="text" id="forgot-password-username" autocomplete="off" placeholder="ANVÄNDARNAMN"/>
    <h3>- eller -</h3>
    <input type="text" id="forgot-password-email" autocomplete="off" placeholder="MEJL"/>

    <button id="forgot-password-submit">NYTT LÖSEN</button>
    <h4>Avbryt</h4>
</div>

<div id="forgot-password-success-container">
    <h1>LÖSENORD SKICKAT</h1>
    <h2></h2>
    <h3>Vänligen följ instruktionerna i mejlet för att återställa ditt lösenord.</h3>
    <h4>Därefter kan du logga in som vanligt.</h4>

    <h5>LOGGA IN</h5>
</div>