<div id="login-container">
    <h1>LOGGA IN</h1>
    <h2>- eller -</h2>
    <h3>SKAPA KONTO</h3>

    <input type="text" id="login-username" autocomplete="off" placeholder="ANVÄNDARNAMN"/>
    <h6 id="login-username-error"></h6>

    <input type="password" id="login-password" autocomplete="off" placeholder="LÖSENORD"/>
    <h6 id="login-password-error"></h6>

    <div id="remember-me-wrapper">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="login-remember-me">
            <label class="onoffswitch-label" for="login-remember-me">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <h5>Håll mig inloggad</h5>
    </div>

    <button id="login-submit">LOGGA IN</button>

    <h4>Glömt Lösenordet?</h4>
</div>