<div id="register-container">
    <h1>SKAPA KONTO</h1>
    <h2>- eller -</h2>
    <h3>LOGGA IN</h3>

    <input type="text" id="register-email" autocomplete="off" placeholder="MEJL"/>
    <h6 id="register-email-error"></h6>

    <input type="text" id="register-username" autocomplete="off" placeholder="ANVÄNDARNAMN"/>
    <h6 id="register-username-error"></h6>

    <input type="password" id="register-password" autocomplete="off" placeholder="LÖSENORD"/>
    <h6 id="register-password-error"></h6>

    <div id="terms-wrapper">
        <label class="control control-checkbox">
            <input type="checkbox" id="register-terms" />
            <div class="control_indicator"></div>
        </label>

        <h4>Jag godkänner <a target="_blank" href="/anvandaravtal">användaravtalet</a>.</h4>
    </div>
    <h6 id="register-terms-error"></h6>

    <button id="register-submit">REGISTRERA</button>
</div>

<div id="register-success-container">
    <h1>Välkommen!</h1>
    <h2>Registreringen lyckades. Vänligen verifiera din mejl genom att följa instruktionerna i mejlet som skickades till dig.</h2>
    <h3>Därefter kan du logga in som vanligt.</h3>

    <h4>LOGGA IN</h4>
</div>
